@use "../../abstract/" as *;

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 500px;

  @include mobile {
    width: 100vw;
    height: 100vh;
  }

  .wrapper {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    background-color: $bg-color-1;
    padding: 50px;
    border-radius: $radius-card;

    @include mobile {
      width: 100vw;
      height: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 0px;
      padding: clamp(1.25rem, -5.875rem + 30vw, 3.125rem);
    }

    .title {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      font-weight: 700;
      color: $text-primary-color;

      @include mobile {
        text-align: center;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      & label {
        display: flex;
        align-items: center;
        color: $text-primary-color;
        font-size: 13px;
        transition: all 0.3s;
      }

      div label {
        font-size: 13px;
        margin-bottom: 5px;
      }
      div input {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
      }

      button {
        margin-top: 20px;
      }
    }

    span {
      text-align: center;
      width: 100%;
      font-size: small;
      color: $text-default-color;
    }
  }
}
