$color-0: #00cdac;
$color-1: #00b2aa;
$color-2: #00969f;
$color-3: #047b8d;
$color-4: #276175;
$color-5: #2f4858;
$color-6: #354b45;

$bg-color-1: #FFFFFF;
$bg-color-2: #E8F3F1;


$text-primary-color: $color-1;
$text-default-color: $color-6;

$gray-0: #dddddd; 
$gray-1: #828282;
