@use "../abstract/" as *;

.chat {
  height: 100%;
  width: 100%;
  padding: 0px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .chat-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-1;
    color: white;
    font-weight: 500;
    height: 81px;
    box-shadow: 0px -15px 19px 8px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px -15px 19px 8px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px -15px 19px 8px rgba(0, 0, 0, 0.36);

    .user-info{
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  .nothing-to-see{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
