@use "../abstract/" as *;

.message {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 15px;
  font-weight: 400;

  .user-info {
    img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .content {
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    @include mobile{
      max-width: 210px;
    }

    p {
      padding: 10px 15px;
      border-radius: 0 15px 15px 15px;
      background-color: $bg-color-2;
      width: fit-content;
      height: fit-content;
      display: flex;
      gap: 10px;
      flex-direction: column;
      line-height: 20px;
    }

    img {
      max-width: 300px;
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
}

.owner {
  flex-direction: row-reverse;

  .user-info {
    img {
      display: none;
    }
  }

  .content {
    align-items: flex-end;

    p {
      color: white;
      border-radius: 15px 0px 15px 15px;
      background-color: $color-1;
      align-items: flex-end;
    }
  }
}
