@use "../abstract/" as *;

.navbar {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .user-display {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 100%;
      margin-right: 15px;
    }
  }

  .logout-button {
    width: fit-content;
    padding: 5px 10px;
    background-color: $color-1;
    color: white;
    transition: all 0.3s;
  }

  .logout-button:hover {
    background-color: $color-0;
    border-color: $color-0;
  }
}
