@use "../abstract/" as *;

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;

  @include mobile {
    transition: all 100ms ease;
    position: absolute;
    width: 100vw;
  }
}

@include mobile{
  .sidebar[aria-expanded="true"]{
    left: 0vw;
  }
  .sidebar[aria-expanded="false"]{
    left: -100vw;
  }
}