@use "../abstract/" as *;

.user-chat-friends{
  height: 100%;
  padding-inline: 0 !important;

  .user-chat-details:hover{
    background-color: $gray-0;
  }

  .user-chat-details{
    padding-inline: 20px;
    padding-block: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    cursor: pointer;
    transition: all .3s;


    img{
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 100%;
    }

    .user-chat-info{
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      .username{
        font-weight: 400;
      }

      p{
        font-size: 13px;
        color: $gray-1;
        font-weight: 200;
      }

    }

    .time{
      display: block;
      height: 100%;
      font-size: 12px;
    }
  }
}